.header{
	height: 60px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	z-index: 10;
}

/* @media screen and (max-width: 499px) {
	.header{
		height: 60px;
	}
}

@media screen and (min-width: 500px) {
	.header{
		height: 60px;
		display: flex;
		justify-content: space-between;
	}
} */

h1{
	font-size: 30px;
	line-height: 60px;
	padding-left:50px;
}

@media screen and (max-width: 499px) {
	h1{
		font-size: 30px;
		line-height: 60px;
		padding: 0;
	}
}

a{
	text-decoration: none;
	color: white;
}

.headerBtns{
	padding-right:50px;
	display: flex;
}

@media screen and (max-width: 499px) {
	.headerBtns{
		padding-right: 10px;
		background-color: black;
		display: block;
		text-align: right;
	}
}

.headerLoginUser{
	line-height: 60px;
	font-size: 14px;
	padding-right: 10px;
}

.headerLoginUser__name{
	font-size: 20px;
	color: yellow;
}

.headerBtn{
	line-height: 60px;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
}

.headerBtn::after {
	position: absolute;
	bottom: 18px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: red;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .3s;
}

.headerBtn:hover{
	color: red;
	transition:  0.3s;
}

.headerBtn:hover::after{
	color: red;
	transform: scale(1, 1);
}

.body{
	background-size: cover;
}

.innerBlack {
	background-color: rgba(0, 0, 0, 0.5);
}

.bodyCalcArea{
	color: white;
	text-align: center;
	font-weight: bold;
}

.bodyCalcArea__title{
	padding: 110px 0 50px;
	font-weight: bold;
	font-size: 30px;
}

.bodyCalcAreaContainer{
	margin: 0 auto;
	padding-bottom: 50px;
}

@media screen and (min-width: 499px) {
	.bodyCalcAreaContainer{
		margin: 0 auto;
		padding-bottom: 50px;
		display: flex;
		justify-content: center;
	}
}

.bodyCalcArea__input{
}



@media screen and (max-width: 499px) {
	table{
		margin: 0 auto;
	}
}

.bodyCalcArea__inputLeft{
	height: 30px;
	padding: 0 10px;
	font-weight: bold;
}

.bodyCalcArea__inputRight--box{
	width: 100px;
}

input[type="number"]{
	height: 30px;
	padding-left: 10px;
	border-radius: 10px;
}

.bodyCalcArea__input--btn{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.bodyCalcArea__input--btnSubmit{
	width: 150px;
	height: 35px;
	border-radius: 20px;
	background-color: blue;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

@media screen and (min-width: 500px) {
	.bodyCalcArea__result{
		border-bottom: 2px solid lightgray;
		color: black;
		margin-left: 50px;
	}
}

@media screen and (max-width: 499px) {
	.bodyCalcArea__result{
		border-bottom: 2px solid lightgray;
		color: black;
		margin-top: 20px;
	}
}

.bodyCalcArea__result--title{
	/* padding: 10px 0; */
	border-bottom: 2px solid lightgray;
	color: aqua;
	/* padding-top: 30px; */
}

.bodyCalcArea__result--left{
	padding: 10px 15px;
	border-right: 1px dashed lightgray;
	border-left: 2px solid lightgray;
	background-color: rgba(0, 255, 255, 0.7);
}

.bodyCalcArea__result--right{
	padding: 10px 15px;
	border-right: 2px solid lightgray;
	background-color: rgba(0, 255, 255, 0.7);
}

/* .tableLastChild{
	border-bottom: 2px solid white;
} */

.borderGray{
	border-bottom: 1px dashed lightgray;
}

.bodyChart{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.bodyChart__Title{
	padding: 50px 0;
	font-weight: bold;
	font-size: 30px;
}

.bottom{
	background-size: cover;

}

.innerDarkBlack{
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 50px;

}

.bottomForm{
	text-align: center;
	color: #ffde00;
	font-weight: bold;
}

.bottomForm__title{
	padding: 50px 0;
	font-weight: bold;
	font-size: 30px;
}



@media screen and (min-width: 500px) {
	.bottomForm__inputArea{
		display: flex;
		justify-content: center;
	}
	.bottomForm__inputArea__pfc--labelFirst{
		margin-left: 10px;
	}
}

@media screen and (max-width: 499px) {
	.bottomForm__inputArea__pfc{
		margin: 20px 0;
	}
}

.bottomForm__inputArea--textbox{
	width: 100px;
	height: 30px;
	padding: 0 10px;
	font-weight: bold;
	border-radius: 10px;
}

.bottomForm__inputArea__pfc--numberbox{
	width: 50px;
}

.bottomForm__inputArea--btn{
}

.bottomForm__inputArea--btnSubmit{
	width: 70px;
	height: 30px;
	border-radius: 20px;
	background-color: #ffde00;
	font-weight: bold;
	font-size: 20px;
	margin: 3px 0 0 10px;
}

.bottomForm__foodsList{
	padding-top: 50px;

}

.bottomForm__foodsList--table{
	border: 2px solid gray;
	background-color: rgba(255, 221, 0, 0.7);
	color: black;
	margin: 0 auto;
}

.bottomForm__foodsList--tableHead{
	padding: 10px;
	border-bottom: 2px solid lightgray;
	border-right: 1px dashed lightgray;
}

.bottomForm__foodsList--tableBottom{
	padding: 5px 10px;
	border-bottom: 1px dashed lightgray;
	border-right: 1px dashed lightgray;
}

footer{
	background-color: black;
	height: 60px;
	color: white;
	text-align: center;
	margin-top: 50px;
}

.footerText{
	line-height: 60px;
}