<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- CSSの読込 -->
    <link th:href="@{/css/reset.css}" rel="stylesheet"></link>
    <link th:href="@{/css/login.css}" rel="stylesheet"></link>
    <title>Login</title>
</head>
<body>
	<div class="login">
		<div class="loginBackImg" style="background-image: url(../image/indexTop.jpg);">
			<div class="loginBackImg__smoke">
				<form th:action="@{/login}" method="post" th:object="${formLoginData}">
					<h1>Login Page</h1>
					<p th:text="${msg}" class="errorMsg"></p>
					<div class="inputArea">
						<input type="text" th:field="*{nickname}" class="inputArea__box" placeholder="nickname">
					</div>
					<div class="inputArea">
						<input type="password" th:field="*{password}" class="inputArea__box" placeholder="password">
					</div>
					<div class="formBtn">
						<button type="submit" class="formBtn__submit">Login</button>	
					</div>
				</form>
			</div>
		</div>
	</div>
	
	


	<script type="text/javascript" th:inline="javascript">
	</script>

<body>
</html>